@property --gradient-angle{
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

:root{
    font-size: 16px;
}

@media (max-width: 700px ),( max-height: 700px){
    :root{
        font-size: 12px;
    }
    
}

@media (max-width: 650px),(max-height: 550px){
    :root{
        font-size: 8px;
    }
    
}

@media (max-width: 400px){
    :root{
        font-size: 6px;
    }
    
}

body{
    overflow: hidden;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}
/*--------------------------Menu------------------------*/

#menu{
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;

    background-color: rgba(0, 0, 0, 0.7);

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    opacity: 1;

    pointer-events: all;
}

#menu.hidden{
    display: none;
    pointer-events: none;
}

#menu-content{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    #menu-content img{
        width: 30rem;
        height: auto;
        margin-bottom: 2rem;
    }

    .menu-button{
        position: relative;

        width: 15rem;
        height: 3rem;
        margin: 1rem;
        cursor: pointer;
        
        font-size: 1.5rem;
        font-weight: bold;
        color: #bdbdbd;

        background-color: black;
        border: none;
        border-radius: 0.5rem;
    }
        .menu-button::before,
        .menu-button::after{
            content: "";
            position: absolute;
            inset: -.1rem;
            z-index: -1;

            background: conic-gradient(
                from var(--gradient-angle),
                black,
                #00454b,
                #008c99,
                #01dcf0,
                #008c99,
                #00454b,
                black
            );

            border-radius: inherit;
            animation: rotation 20s linear infinite;
        }

        .menu-button::after{
            filter: blur(0.5rem);
        }

#gameover-content{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    #gameover-content img{
        width: 30rem;
        height: auto;
        margin-bottom: 2rem;
    }

.mute-button{
    margin: 1rem;
    cursor: pointer;
    color: #01dcf0;
}

#countdown{
    margin: auto;
    display: none;
    width: 7rem;
    height: auto;
}

/*--------------------------Game------------------------*/

#header{
    visibility: hidden;
}
    #header img{
        width: 20rem;
        height: auto;
        margin: auto;
    }

main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.game-container{
    position: relative;

    min-width: 55rem;
    width: 55rem; 
    min-height: 37rem;
    height: 37rem;
    margin: 5px;

    background-color: black;
    border: none;
    border-radius: 0.5rem;
}
        .game-container::before,
        .game-container::after{
            content: "";
            position: absolute;
            inset: -.1rem;
            z-index: -1;

            background: conic-gradient(
                from var(--gradient-angle),
                black,
                #00454b,
                #008c99,
                #01dcf0,
                #008c99,
                #00454b,
                black
            );

            border-radius: inherit;
            animation: rotation 20s linear infinite;
        }

        .game-container::after{
            filter: blur(1rem);
        }

.lateral-panel{
    display: flex;
    flex-direction: column;
    visibility: hidden;

    min-height: 37rem;
    height: 37rem;
    width: 100%;
    margin: 5px;

    background-color: transparent;/*Choose between #1b2846 and transparent whitegrey*/

    
    /*box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);*/
    border-radius: 10px;
}

.right-panel{
    visibility: hidden;
    /*vidas*/
}
/*
    align-items: center;
    justify-content: flex-end;
}
    .left-panel input{
        width: 90%;
        margin-top: 5px;
        margin-bottom: 5px;

        border: none;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }

    .left-panel input:hover{
        cursor: pointer;
        transform: scale(0.97, 0.97);
        /*box-shadow: inset 0 4px 6px rgba(2, 0, 124, 0.575), 0 2px 3px rgba(0, 0, 0, 0.2);*
    }

    .left-panel #start-button{
        margin-top: 10px;

        background-color: rgb(0, 160, 0);/*mudar para cores correspondentes aos blocos*
    }
    .left-panel #reset-button{
        margin-bottom: 10px;
        background-color: rgb(255, 44, 44);/*mudar para cores correspondentes aos blocos*
    }
*/
.left-panel{
    justify-content: center;
    align-items: center;
    /*tabela com o score*/
}

@keyframes rotation{
    0%{
        --gradient-angle: 0deg;
    }
    100%{
        --gradient-angle: 360deg;
    }
}

/*------------------------Paddle & Ball & Bricks------------------------*/

.paddle{
    position: absolute;
    top: 32rem;
    width: 8rem;
    height: auto;
}

.ball{
    position: absolute;
    width: 1.5rem;
    height: auto;
}

.brick{
    position: absolute;
    width: 6rem;
    height: auto;
}